{% extends "base.html" %}

<!--
Blog Home Page-->
{% block content %}

	<style>
		body {
			background: #ededed;
		}
		.card {
			margin-bottom: 20px;
		}
		.card-link {
			color: blue;
			
		}
		.card-text { 
			margin-bottom: 0px;
		}
		h4 a {
			color: black!important;
			
			letter-spacing: 0;
		}
		.text-center a {
			margin-bottom: 20px;
		}
		.btn-primary {
			letter-spacing: 0px;
		}
		.btn-primary:hover {
			text-decoration: none;
		}
		.btn-secondary {
			min-height: 5px;
		}
	</style>
	<div class="container">
		<h1>Blog</h1>
		<hr>
		
		<div class="text-center">
        	<a href="{% url 'post-create' %}" class="btn btn-lg btn-primary">Start Writing a New Blog Post</a>
     	</div>
		
		
		{% for post in posts %}
			<div class="card" style="width: 80%;">
			  <div class="card-body">
			    <h4 class="card-title"> <a href="{% url 'post-detail' post.id %}"> {{post.title }} </a></h4>
			    <h6 class="card-subtitle mb-2 text-muted"> Posted by 
				    <a href="{% url 'user-posts' post.author.username %}" class="btn btn-sm btn-secondary py-0" style="font-size: 0.8em;">
					    	{{ post.author }}
					</a>
				    | Posted on <button class="btn btn-sm btn-secondary py-0" style="font-size: 0.8em;">{{ post.date_posted|date:"F d, Y"}}</button>
				</h6>
			    <br>
			    <p class="card-text">{{ post.content|safe|truncatechars:255 }}</p>
			    <a href="{% url 'post-detail' post.id %}" class="card-link ">Continue Reading</a>
			  </div>
			</div>			
		{% endfor %}

		<div class="text-center">
			{% if is_paginated %}

			{% if page_obj.has_previous %}
				<a href="?page=1" class="btn btn-sm btn-outline-info mb-4">
					First
				</a>
				<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-info mb-4">
					<<
				</a>

			{% endif %}

			{% for num in page_obj.paginator.page_range  %}
				{% if page_obj.number == num %}
					<a href="?page={{ num }}" class="btn btn-sm btn-info mb-4">
						{{ num }}
					</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
					<a href="?page={{ num }}" class="btn btn-sm btn-outline-info mb-4">
						{{ num }}
					</a>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number}}" class="btn btn-sm  btn-outline-info mb-4">
					>>
				</a>
				<a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-info mb-4">
					Last
				</a>

			{% endif %}

		{% endif %}
		</div>
	</div>
		
{% endblock content %}
